# Resend API key for sending emails from the contact form
RESEND_API_KEY=

# Your website domain (used for the 'from' email address)
NEXT_PUBLIC_SITE_DOMAIN=voice.pixpoc.in
NEXT_PUBLIC_SITE_URL=https://voice.pixpoc.in

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_PROJECT_ID=

PIXPOC_JWT_SECRET=your_secure_secret_key_your_secure_secret_keey
PIXPOC_TOKEN_MINUTES=10
PIXPOC_GENDER=male
# Options: male, female (affects AI assistant name and voice selection)
PIXPOC_FROM_NUMBER=+19152855140
PIXPOC_SERVER_URL=https://lxjihu6hrj.execute-api.ap-south-1.amazonaws.com/dev
PIXPOC_MAX_CALL_DURATION=300
