# Resend API key for sending emails from the contact form
RESEND_API_KEY=re_fXXc4cWJ_

# Your website domain (used for the 'from' email address)
NEXT_PUBLIC_SITE_DOMAIN=panditaai.com

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_PROJECT_ID=

PANDITA_JWT_SECRET=
PANDITA_TOKEN_MINUTES=5
PANDITA_GENDER=female
PANDITA_FROM_NUMBER=
PANDITA_SERVER_URL=https://api.panditaai.com
PANDITA_MAX_CALL_DURATION=300