# Resend API key for sending emails from the contact form
RESEND_API_KEY=

# Your website domain (used for the 'from' email address)
NEXT_PUBLIC_SITE_DOMAIN=voice.pixpoc.com
NEXT_PUBLIC_SITE_URL=https://voice.pixpoc.com

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_PROJECT_ID=

PIXPOC_JWT_SECRET=
PIXPOC_TOKEN_MINUTES=5
PIXPOC_GENDER=female
PIXPOC_FROM_NUMBER=
PIXPOC_SERVER_URL=https://api.voice.pixpoc.in
PIXPOC_MAX_CALL_DURATION=300
